* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 83px 1fr;
  grid-template-areas: "header header header" "menu con1 conside";
}
.con1 {
  grid-area: con1;
  background-color: #f3eced;
  color: #c698a5;
}
.conside {
  background-color: #cfa5b1;
  grid-area: conside;
}
.menu {
  background-color: #cfa5b1;
  grid-area: menu;
  color: #f3eced;
  padding: 30px;
}
.menulist {
  list-style: none;
  font-size: 25px;
}
.listmyworks {
  list-style: none;
  font-size: 15px;
  line-height: 30px;
}
a {
  color: #7b90ac;
}

header {
  background-color: #cfa5b1;
  font-size: 4em;
  text-align: center;
  grid-area: header;
  color: #f3eced;
}
li {
  list-style: none;
}
ul.info {
  margin-top: 0px; /* what am i doing wrong?!!!!!!!!!!!!!!*/
}
/* The following 1 line (line 10) was copied from the lesson with Garret, and how to do this comment was searched from google.com */
li:hover {
  font-weight: bold;

  font-size: 2, 5rem;
}
/*the next 3 lines are inspired by https://stackoverflow.com/questions/19254411/how-do-i-set-vertical-space-between-list-items */
li + li {
  margin-top: 20px;
}

h1 {
  color: #7b90ac;
  text-align: center;

  font-size: 30;
}
h2 {
  color: #7b90ac;
}
h3 {
  color: #7b90ac;
}

.introduction {
  padding-left: 90px;
}
.interests {
  float: left;
  padding-left: 70px;
  min-width: 170px;
}
.food {
  float: left;
}

.Charlie {
  clear: both;
  padding-left: 130px;
}
