* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr 2fr 20px;
  grid-template-rows: 83px 20px 1fr;
  grid-template-areas: "header header header header" "menu back back side" "menu picture info side";
  background-color: #f3eced;
  grid-column-gap: 10px;
}
.back {
  grid-area: back;
  font-size: 20px;
  align-items: center;
}

.menu {
  background-color: #cfa5b1;
  grid-area: menu;
  color: #f3eced;
  padding: 30px;
}

.menulist {
  list-style: none;
  font-size: 25px;
}

.listmyworks {
  list-style: none;
  font-size: 15px;
  line-height: 30px;
}
.menulist :hover {
  font-weight: bold;
}
/*the next 3 lines are inspired by https://stackoverflow.com/questions/19254411/how-do-i-set-vertical-space-between-list-items */
li + li {
  margin-top: 20px;
}

header {
  background-color: #cfa5b1;
  font-size: 4em;
  text-align: center;
  grid-area: header;
  color: #f3eced;
}
.picture {
  margin-top: 10px;
}
.info {
  padding: 30px;
}
.side {
  grid-area: side;
  background-color: #cfa5b1;
}
a {
  color: #7b90ac;
}
p {
  color: #c698a5;
}
